
@import "tailwindcss";
@import "@nuxt/ui";

body {
  margin: 0;
}

html.overlay-window,
body.overlay-window {
  background: transparent;
}

body.overlay-window {
  display: flex;
  place-items: center;
}
